@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* base styles */
:root {
  --font-roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
}
